<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.murooka.logbook</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>32118ACE-DB8E-48D9-885C-61784F5DDCDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030C1CEC-5C38-42CA-A95C-DFB270DB446F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Naoki Yaguchi</string>
	<key>description</key>
	<string>Log your activity with timestamp</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Logbook</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>log</string>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string>ruby ./log.rb "{query}"</string>
				<key>subtext</key>
				<string>Save your activity</string>
				<key>title</key>
				<string>log</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>32118ACE-DB8E-48D9-885C-61784F5DDCDA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby ./save.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>030C1CEC-5C38-42CA-A95C-DFB270DB446F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>030C1CEC-5C38-42CA-A95C-DFB270DB446F</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>32118ACE-DB8E-48D9-885C-61784F5DDCDA</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
